
@font-face {
    font-family: 'Bernadette';
    src: url(../fonts/Bernadette/bernadette.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BerlinSansFBDemi';
    src: url(../fonts/BerlinSansFBDemi/BRLNSDB.TTF) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Belgrad Bold';
    src: url(../fonts/Belgrad/Belgrad.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro BlackCond';
    src: url(../fonts/MyriadProBlackCond/MyriadProBlackCond.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}